<ion-modal-view>
  <!-- Center content -->
		  <form >
				
				<ion-header-bar class="bar-positive">
						<a class="button" ng-click="closeModal()"> Cancelar </a>
						<h1 class="title">Form</h1>
				</ion-header-bar>
				<ion-content has-bucing="true" class="scroll-content ionic-scroll has-header">
					<div class="scroll">
						<div class="row no-padding-top">
							<div class="col">
								<label class="item item-input large">
									<input type="text" placeholder="Title">
									
								</label>
							</div>
						</div>
						<div class="editable-image horizontal-image">
							<div class="add">
								<i class="icone ion-upload">
									<div class="instructions">
										Tap to Upload photo
									</div>
								</i>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label class="item item-input large">
									<input type="text" placeholder="Price">
								</label>
							</div>
						</div>
						<div class="col">
							<label class="item item-input large">
									<textarea type="text" placeholder="Title" row="5">
									</textarea>
								</label>
						</div>
					</div>
				</ion-content>

		  </form>
</ion-modal-view>